<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kminsu_pc_w1.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Alarm_main"
            android:label="@string/title_activity_alarm_main" >
        </activity>
        <activity
            android:name=".alert"
            android:label="@string/title_activity_alert" >
        </activity>
        <activity
            android:name=".alram_list"
            android:label="@string/title_activity_alram_list" >
        </activity>
        <activity
            android:name=".Klaxon"
            android:label="@string/title_activity_klaxon" >
        </activity>


    </application>
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
